{% extends 'layouts/base.html.twig' %}

{% block title %}User detail{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('users_index') }}">Users</a></li>
        <li class="breadcrumb-item active">User detail</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-lg-12">
                <h1>User detail</h1>
                <a class="btn btn-primary" href="{{ path('users_edit', {'id': user.id}) }}">Change role</a>
                {% if(user.status == 'active' or user.status == 'new') %}
                    <a class="btn btn-primary" href="{{ path('users_block', {'id': user.id}) }}">Block</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('users_unblock', {'id': user.id}) }}">Unblock</a>
                {% endif %}
                {{ include('admin/user/user/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>Account</h4>
                <table class="table table-sm">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td>
                            {% if (user.roles[0] == 'ROLE_SUPER_ADMIN') %}
                                <span class="badge badge-secondary">Super admin</span>
                            {% elseif(user.roles[0] == 'ROLE_ADMIN') %}
                                <span class="badge badge-secondary">Admin</span>
                            {% else %}
                                <span class="badge badge-secondary">Moderator</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            {% if (user.status == 'active') %}
                                <span class="badge badge-success">Active</span>
                            {% elseif(user.status == 'blocked') %}
                                <span class="badge badge-danger">Blocked</span>
                            {% else %}
                                <span class="badge badge-primary">New</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td>{{ user.created_at|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th>Updated</th>
                        <td>{{ user.created_at|date('Y-m-d') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                {%  if(user.profile != null) %}
                    <h4>Profile</h4>
                    <table class="table table-sm">
                        <tbody>
                        <tr>
                            <th>Firstname</th>
                            <td>{{ user.profile.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Lastname</th>
                            <td>{{ user.profile.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td>{{ user.profile.surname }}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ user.profile.phone }}</td>
                        </tr>
                        <tr>
                            <th>About</th>
                            <td>{{ user.profile.about }}</td>
                        </tr>
                        <tr>
                            <th>Sex</th>
                            <td>
                                {% if (user.profile.sex == 1) %}
                                    Male
                                {% else %}
                                    Female
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Birthday</th>
                            <td>{{ user.profile.birthday }}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{ user.profile.city.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {%  if(user.social|length > 0) %}
                    <h4 class="mt-4">Social networks</h4>
                    {%  for social in user.social %}
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Provider</th>
                                <td>{{ social.provider }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}